




h2, h4 {
  font-family: 'Merriweather', serif;
  font-size: 40px; }


h1, h3, h5, h6, p, a, li, .login{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black; 
  text-decoration: none;
}



.navbar-brand:hover {
  background-color: #AED8CC;
}

/* login button */
#button-container {
  display: flex; 
  align-items: center;
}

#menuToggle {
  border: none;
  color: black;
  font-size: 30px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  background-color: #AED8CC;
}

#menuToggle:hover {
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 20px;
  margin: 0;
  background-color: white;
  min-width: 300px;
  height: 400px;
}

#menu li:hover{
  background-color: #AED8CC;
}

#menu.show {
  display: block;
}

#menu li {
  padding: 20px 0;
  font-size: 22px;
  list-style: none;
}
 

h2:hover {
  color: white;
  cursor: pointer;
}


/* MAIN */
#h3-main {
  font-size: 20px; 
  font-style: italic; 
  color: #224B0C; 
  padding-top: 90px;
}

#h1-main {
  font-size:150px; 
  font-weight: bolder; 
  color: white; 
  z-index: 10; 
  text-decoration: underline;
}

#spring-button {
  width: 150px; 
  border-radius: 0;
  background-color: #224B0C;
}

.a-spring {
  text-decoration: none; 
  color: white
}

#card-text {
  line-height: 2rem;
  margin-top: 15px;
}

/* ABOUT  */
#card-about {
  margin: 30% auto; 
  background-color: white;
  padding: 50px;
  width: 90%;
  border-radius: 5px;
}

.custom-border {
  border-bottom: 2px solid #224B0C; 
  width: 5%; 
}

.card-img-about {
  width: 100%;
  max-width: 450px;
  height: auto; }

.card-about-second {
  left: 20%; }

/* HANDLEBAR  */
#title-handle {
  margin: 30px 8.5%;
}

/* Shop All Page  */


/* .color-picker {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
}
  

.dropdown h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.img-fluid-shop {
  width: 1100px;
  height: 280px;
  object-fit: cover;
  object-position: 50% 50%; }

.sort-container {
  margin: 30px 0px; }

.sortBy {
  display: flex;
  justify-content: flex-end; }

select {
  width: 100px; }

.form-select {
  max-width: 100%;
  max-width: 100px; }

.shop-container {
  margin-left: 10%;
  width: 100%;
  margin-bottom: 30px; }




/* Contact Form */
/* .contact-container {
  margin: 7% 0; }

.contact-list {
  list-style: none; }

.contact-list li {
  line-height: 4rem; }

.button-contact {
  width: 100%; }
 */


/* chat wrapper */
  /* #chat-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  } */
  
  /* #chat-button {
    margin-right: 20px;
    background-color: #8E3200;
    color: #fff;
    border-radius: 25px;
    padding: 10px 40px;
    font-family: 'Roboto', serif;
  }
  
  

  #chat-window {
    width: 350px;
    height: 530px;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: white;
  }
  
  .chat-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .chat-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .chat-header p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }
  .online-status {
    display: flex;
    align-items: center;
  }
  
  .online-dot {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
  }

  .chat-messages {
    height: 380px;
    margin-bottom: 10px;
    background-color: #EEEEEE;
  }
  

  .publi-w {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
} */

/*
.publi-w>*:first-child {
    margin-left: 0;
}

.publi-w>* {
    margin: 0 8px;
}

.text-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button, input, optgroup, select, textarea {
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
} 

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
} 

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1; 
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}

.emoji-picker-container .emoji-picker {
  display: none;
}

.emoji-picker-container.show .emoji-picker {
  display: block;
} */
