

// Contact Form
.contact-container {
    margin: 7% 0;
    
    .contact-list {
      list-style: none;
      
      li {
        line-height: 4rem;
      }
    }
    
    .button-contact {
      width: 100%;
    }
  }
  
  // Subscribe Form
  .sub-container {
    margin-bottom: 7%;
  }