/* Import file that defines %paragraph */
@import 'variables';

/* MAIN */
.h1-main {
  margin-top: 7%;
  font-size: 60px;
}

.parag {
  @extend %paragraph;
}

.carousel-item:hover .caption {
  opacity: 1; /* Show the caption on hover */
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background*/
  color: #fff; /* White text */
  padding: 10px;
  font-size: 14px;
  text-align: left;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.5s ease-in-out;
}

/* Shop Home */
.slider {
  position: relative;

  .slide {
    flex: 0 0 auto;
    margin: 0 10px; /* Adjust the spacing between slides */
    text-align: center;

    .slide-image {
      width: 100%;
      max-width: 400px; /* Adjust the desired image width */
      height:auto;
     
    }
  }

  .custom-prev,
  .custom-next {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    z-index: 1;
  }

  .custom-prev {
    left: -30px;
    color: black;
  }

  .custom-next {
    right: -30px;
    color: black;
  }

  /* Override default styles */
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}